/*
	Reset do CSS
	(MUITO importante)
*/



/* TESTE DE BONA */
/*ISSO É UM TESTE*/


* {
 	padding: 0px;
	border: 0px;
	margin: 0px;
}

body {
  	color: #fff;
    background: url("../bg.jpg");
    font-family: sans-serif;
}

a {
  color: #666;
}

a:active, a:link, a:visited,  a:hover {
  text-decoration: none;
}

form fieldset {
  border:0px;
}

form legend {
  display:none;
}

ul, li {
  list-style:none;
  margin:0;
  padding:0;
}

table caption {
  display:none;
}

/*
	Classe que força a quebra do elemento (ééé mais ou menos)
*/
.clear {
  display:block;
  clear:both;
}

#corpo {
	display: block;
	height: 200px;
	width: 450px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -180px;
	margin-left: -200px;
}

#corpo h1 {
  margin: 10px 0 30px 0;
}

#consulta {
  display: block;
  float: left;
  width: 450px;
}

#consulta label {
  display: block;
  float: left;
  margin-bottom: 10px;
  
}

#consulta input {
  display: block;
  float: left;
  width: 200px;
  height: 30px;
}

#consulta .botao {
  display: block;
  float: left;
  margin-left: 20px;
}

#resultado {
  display: block;
  float: left;
  width: 400px;
  margin-top: 20px;
}

#resultado div {
  display: block;
  margin-bottom: 10px;
}

#resultado span {
  display: block;
  margin-top: 2px;
}

#carregando {
  display: block;
  width: 450px;
  text-align: center;
  margin-top: 30px;
}


